{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Teacher{% endblock %}
{% block contentheading %}Teachers panel{% endblock %}
{% block maincontent %}
    {% block teachercontent %}
    <dl>
        <dt><a href="/questions/test">Contestar las preguntas</a></dt><dd>Contestar y averiguar si se trata de la respuesta correcta</dd>
        <dt><a href="/questions/add">Añadir preguntas</a></dt><dd>Añadir preguntas al test</dd>
        <dt><a href="/questions/edit">Editar preguntas</a></dt><dd>Editar preguntas al test</dd>
        <dt><a href="/questions/see_answers">Ver respuestas</a></dt><dd>Ver las respuestas del test</dd>
    </dl>
    {% endblock %}
{% endblock %}
