{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Gestión de preguntas{% endblock %}
{% block contentsubheading %}Gestión de preguntas{% endblock %}
{% block maincontent %}
    {% block questionscontent %}
        <table class="fillwidth highlightrows">
            <tbody>
                <tr>
                    <th class="alignleft">Listado de preguntas</th><th></th>
                </tr>
                <tr>
                    <th class="alignleft">Nombre</th>
                    <th class="alignleft">Enunciado</th>
                    <th class="alignleft">Opción 1</th>
                    <th class="alignleft">Opción 2</th>
                    <th class="alignleft" width="10%">Respuesta correcta</th>
                    <th class="alignleft" width="7%">Porcentaje de suma</th>
                    <th class="alignleft" width="5%">Porcentaje de resta</th>
                </tr>
                {% for question in questions %}    
                    <tr class=highlightable>
                        <td class="alignleft" width="15%">{{ question['question'] }}</td>
                        <td class="alignleft" width="25%">{{ question['description'] }}</td>
                        <td class="alignleft">{{ question['option1'] }}</td>
                        <td class="alignleft">{{ question['option2'] }}</td>
                        <td class="alignleft">{{ question['true_answer'] }}</td>
                        <td class="alignleft">{{ question['correct_answer_percentage'] }}</td>
                        <td class="alignleft">{{ question['incorrect_answer_percentage'] }}</td>
                        <td class="alignright">{{ button('bluebg', '/questions/preview?questionId=' + question['questionId']|string + '&redirect_to=/questions', 'Previsualizar') }}{{ button('bluebg', '/questions/edit?questionId=' + question['questionId']|string + '&redirect_to=/questions', 'Editar') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="alignright">{{ button('bluebg', '/questions/add', 'Añadir pregunta') }}</p>
    {% endblock %}
{% endblock %}