{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Gestión de preguntas{% endblock %}
{% block contentsubheading %}Gestión de preguntas{% endblock %}
{% block maincontent %}
    {% block questionscontent %}
        <table class="fillwidth highlightrows">
            <tbody>
                <tr>
                    <th class="alignleft">Listado de preguntas</th><th></th>
                </tr>
                <tr>
                    <th class="alignleft">Nombre</th>
                    <th class="alignleft">Enunciado</th>
                    <th class="alignleft">Opción 1</th>
                    <th class="alignleft">Opción 2</th>
                    <th class="alignleft" width="10%">Respuesta correcta</th>
                    <th class="alignleft" width="7%">Porcentaje de suma</th>
                    <th class="alignleft" width="5%">Porcentaje de resta</th>
                </tr>
                {% for pregunta in preguntas %}    
                    <tr class=highlightable>
                        <td class="alignleft" width="15%">{{ pregunta['nombre_pregunta'] }}</td>
                        <td class="alignleft" width="25%">{{ pregunta['enunciado'] }}</td>
                        <td class="alignleft">{{ pregunta['opcion1'] }}</td>
                        <td class="alignleft">{{ pregunta['opcion2'] }}</td>
                        <td class="alignleft">{{ pregunta['respuesta_correcta'] }}</td>
                        <td class="alignleft">{{ pregunta['porcentaje_correcta'] }}</td>
                        <td class="alignleft">{{ pregunta['porcentaje_incorrecta'] }}</td>
                        <td class="alignright">{{ button('bluebg', '/questions/preview/?nombre_pregunta=' + pregunta['nombre_pregunta'] + '&redirect_to=/questions', 'Previsualizar') }}{{ button('bluebg', '/questions/edit?nombre_pregunta=' + pregunta['nombre_pregunta'] + '&redirect_to=/questions', 'Editar') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="alignright">{{ button('bluebg', '/questions/add', 'Añadir pregunta') }}</p>
    {% endblock %}
{% endblock %}