{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Preguntas{% endblock %}
{% block contentsubheading %}Preguntas{% endblock %}
{% block maincontent %}
    {% block questionscontent %}
        <table class="fillwidth highlightrows">
            <tbody>
                <tr>
                    <th class="alignleft">Preguntas</th><th></th>
                </tr>
                {% for user in users %}
                    <tr class="highlightable">
                        <td class="alignleft"><a href="/questions/edit?content={{ question['content'] }}&redirect_to=/questions/edit">{{ question['content'] }}</td>
                        <td class="alignright">{{ button('bluebg', '/questions/edit?content=' + question['content'] + '&redirect_to=/questions/edit', 'Editar pregunta') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}