{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Preguntas{% endblock %}
{% block contentsubheading %}Preguntas{% endblock %}
{% block maincontent %}
    {% block questionscontent %}
        <table class="fillwidth highlightrows">
            <tbody>
                <tr>
                    <th class="alignleft">Listado de preguntas</th><th></th>
                </tr>
                <tr>
                    <th class="alignleft">Nombre</th>
                    <th class="alignleft">Enunciado</th>
                </tr>
                {% for pregunta in preguntas %}    
                    <tr class=highlightable>
                        <td class="alignleft">{{ pregunta['nombre_pregunta'] }}</td>
                        <td class="alignleft">{{ pregunta['enunciado'] }}</td>
                        <td class="alignright">{{ button('bluebg', '/student/questions/preview?nombre_pregunta=' + pregunta['nombre_pregunta'] + '&redirect_to=/student/questions', 'Responder') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}